<!DOCTYPE html>
<html>
	<head>
		<title><%= conf.title %></title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" href="css/uedb.css" />

		

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <script src="js/map.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="header">
				<ul class="nav nav-pills pull-right">
					<li class="active"><a href="/"><i class="fa fa-home"></i></a></li>
					<li><a href="/add"><i class="fa fa-edit"></i></a></li>
				</ul>
				<h3 class="text-muted"><%= conf.title %></h3>
			</div>
			<br />
			<div class="col-md-1 hidden">
				<ul class="nav nav-pills nav-stacked">
					<% for (var i = 0; i < loc.length; i++) { %>
					<li data-locationid="<%= loc[i].locationid %>"><a href="/location/<%= loc[i].locationid %>"><%= loc[i].name %></a></li>
					<% } %>
				</ul>
			</div>
			<div class="col-md-12">
				<div id="ldbmap" style="height:500px;" data-points="<%= points %>"></div>
			</div>

		</div>
	</body>
</html>